body{
    background-color: rgb(198, 166, 228);
   
}
.game_button{
    width: 250px;
    height: 250px; 
}
.game_container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin:auto;
    width: 500px;
    height: 500px;
}
.red{
    box-sizing: border-box;
    background-color: rgb(255,0,0,.4);
    border-top-left-radius: 100%;
    border:20px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}
.redBright{
    background-color: rgb(255, 0, 0);
}
/* .red:hover{
    background-color: rgb(255, 0, 0);
} */
.green{
    box-sizing: border-box;
    background-color: green;
    border-bottom-left-radius: 100%;
    border:20px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
}
/* .green:hover{
    background-color: rgba(0,255,0,.8);
} */
.greenBright{
    background-color: rgba(0,255,0,.8);
}
.blue{
    box-sizing: border-box;
    background-color: rgba(0, 64, 255, 0.799);
    border-top-right-radius: 100%;
    border:20px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}
/* .blue:hover{
    background-color: blue;
} */
.blueBright{
    background-color: blue;
}
.yellow{
    box-sizing: border-box;
    background-color: rgba(255,255,0,.4);
    border-bottom-right-radius: 100%;
    border:20px solid black;
    border-left: 10px solid black;
    border-top: 10px solid black;
}
/* .yellow:hover{
    background-color: yellow;
} */
.yellowBright{
    background-color: yellow;
}
.inner_space{
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 150px;
    left: 150px;
    border-radius: 50%;
}
.scoreHeading{
    display: inline-block;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.heading{
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
   
}
button{
    font-size: 3em;
}
