body{
    background-image: url("https://images.unsplash.com/photo-1617309215127-ebeb4eddeba5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGFyayUyMHNreSUyMHdpdGglMjBzdGFyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
   
}
.game_button{
    width: 250px;
    height: 250px; 
}
.game_container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin:auto;
    width: 500px;
    height: 500px;
}
.red{
    box-sizing: border-box;
    background-color: rgb(154, 0, 0);
    border-top-left-radius: 100%;
    border:20px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}
.redBright{
    background-color: rgb(255, 0, 0);
}
.green{
    box-sizing: border-box;
    background-color: green;
    border-bottom-left-radius: 100%;
    border:20px solid black;
    border-right: 10px solid black;
    border-top: 10px solid black;
}
.greenBright{
    background-color: rgba(0,255,0,.8);
}
.blue{
    box-sizing: border-box;
    background-color: rgb(0, 0, 143);
    border-top-right-radius: 100%;
    border:20px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}
.blueBright{
    background-color: rgb(0, 0, 255);
}
.yellow{
    box-sizing: border-box;
    background-color: rgb(157, 157, 0);
    border-bottom-right-radius: 100%;
    border:20px solid black;
    border-left: 10px solid black;
    border-top: 10px solid black;
}
.yellowBright{
    background-color: yellow;
}
.inner_space{
    width: 200px;
    height: 200px;
    background-color: rgb(0,0,0);
    position: absolute;
    top: 150px;
    left: 150px;
    border-radius: 50%;
}
.scoreHeading{
    color:white;
    padding-right: 100px;
    display: inline-block;
    text-align: end;
}
.heading{
    color:aliceblue;
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
   
}
button{
    font-size: 2em;
    margin-right: 60px;
}
.myNav{
    background: linear-gradient(45deg, red, blue); 
    padding-bottom: 20px;
    padding-top: 20px;
}
.startGame{
    margin-left: 10px;
    font-size: 1.3em;
}
.endGame{
    font-size: 1.3em;
}
.message{
    font-size: 1em;
}


